@import 'theme.scss';
.aboutUs ul {
	list-style: none;
	padding-left:10px;
}
.aboutUs .nav-tabs > li.active > a,
.aboutUs .nav-tabs > li.active > a:hover,
.aboutUs .nav-tabs > li.active > a:focus{
	color:$primaryColor;	
}
.aboutUs .nav-tabs > li > a{
	color:$basisFont;	
}
.aboutUs i.fa{
	padding-right:10px;
	color:$primaryColor;		
}
.nav-tabs.nav-justified > li > a {
  border-radius: $primaryRadious;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid $quaternaryLightColor;
    border-radius: $primaryRadious $primaryRadious 0 0;
  }
}