$basisColor:rgba(255, 255, 255,1);

$primaryColor:rgba(73, 197, 182,1);
$primaryFont:rgba(255, 255, 255,1);

$primaryLightColor:rgba(73, 197, 182,0.5);
$primaryLightFont:rgba(73, 197, 182,0.5);

$secondoryColor:rgba(254, 247, 193,1);
$secondoryFont:rgba(0, 0, 0,1);

$secondoryLightColor:rgba(254, 247, 193,0.5);
$secondoryLightFont:rgba(0, 0, 0,0.5);


