$basisColor:rgba(255, 255, 255,1);
$basisFont:rgba(0, 0, 0,1);
$basisLightColor:rgba(255, 255, 255,0.5);
$basisLightFont:rgba(0, 0, 0,1);

$primaryColor:rgba(226, 114, 34,1);
$primaryFont:rgba(255, 255, 255,1);

$primaryLightColor:rgba(226, 114, 34,0.5);
$primaryLightFont:rgba(255, 255, 255,1);

$secondoryColor:rgba(9, 137, 158,1);
$secondoryFont:rgba(255, 255, 255,1);;

$secondoryLightColor:rgba(9, 137, 158,0.5);
$secondoryLightFont:rgba(255, 255, 255,1);;

$tertiaryColor:rgba(100, 186, 191,1);
$tertiaryFont:rgba(255, 255, 255,1);;

$tertiaryLightColor:rgba(100, 186, 191,0.5);
$tertiaryLightFont:rgba(255, 255, 255,1);

$quaternaryColor:rgba(38, 35, 38,1);
$quaternaryFont:rgba(255, 255, 255,1);;

$quaternaryLightColor:rgba(38, 35, 38,0.5);
$quaternaryLightFont:rgba(255, 255, 255,1);

$primaryRadious:0px;
