<template name="leoAdminTeamMemberDetails">
    {{>floatingAdminButtons add=false active=false inActive=false edit=false save=true cancel=true}}
    <div class="container cont ">
        <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 main">
            <form id="teamMember" class="floating-labe1">
                <div class="form-group">
                    <div class="col-sm-6 text-left">
                        <label>{{routerTitle}}</label>
                        <!--<button type="button" id="reset" class="btn btn-default preview-add-button">-->
                        <!--<i class="fa fa-refresh" aria-hidden="true"></i> Reset-->
                        <!--</button>-->
                        <!--<button type="button" id="addCategory" class="btn btn-default preview-add-button">-->
                        <!--<i class="fa fa-plus" aria-hidden="true"></i> Save-->
                        <!--</button>-->
                    </div>
                    <div class="col-sm-6">
                        <div class="onoffswitch3">
                            <input type="checkbox" name="isActive" class="onoffswitch3-checkbox" id="myonoffswitch3" checked="{{serviceCategory.isActive}}">
                            <label class="onoffswitch3-label" for="myonoffswitch3">
                                <span class="onoffswitch3-inner">
                                    <span class="onoffswitch3-active"><span class="onoffswitch3-switch">Active</span></span>
                                    <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">Inactive</span></span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label">Name</label>
                    <input type="text" name="name" class="form-control" mandatory="true" value="{{serviceCategory.name}}"/>
                </div>
                <div class="form-group ">
                    <label class="control-label">Designation</label>
                    <input type="text" name="title" class="form-control" mandatory="true" value="{{serviceCategory.title}}"/>
                </div>

                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <input type="text" name="tags" class="form-control" value="{{showTags}}"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea type="text" name="description" class="form-control" mandatory="true" value="{{serviceCategory.description}}"></textarea>
                </div>

            </form>
            {{> leoImageUpload }}
        </div>
    </div>
</template>