<template name="leoClientLeftNav">
	<div class="support-menu">
        <nav class="vertical bRadiT">
            <ul class="menu">
                {{#each leoProductCategory}}
                <li class="chapter ">
                    <a class="secondoryT" href="/leoProCat/{{title}}">
                    {{title}}
                    </a>
                    {{#let categoryId = this._id}}
                        {{#if leoProduct categoryId}}
                            <ul>
                                {{#each leoProduct categoryId}}
                                <li >
                                    <a class="tertiaryT" href="/p/{{title}}">
                                        {{title}}
                                    </a>                                
                                </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/let}}
                </li>
                {{/each}}
                {{#each leoServiceCategory}}
                <li class="chapter ">
                    <a class="secondoryT" href="/leoSerCat/{{title}}">
                    {{title}}
                    </a>
                    {{#let categoryId = this._id}}
                        {{#if leoService categoryId}}
                            <ul>
                                {{#each leoService categoryId}}
                                <li class="tertiaryT">
                                    <a class="tertiaryT" href="/s">
                                        {{title}}
                                    </a>                                
                                </li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    {{/let}}
                </li>
                {{/each}}    
                <li class="chapter ">
                    <a class="secondoryT" href="{{pathFor 'aboutUs'}}">
                        About Us
                    </a>
                </li>
                <li class="chapter">
                    <a class="secondoryT" href="{{pathFor 'contactUs'}}">
                        Contact Us
                    </a>
                </li>
                <li class="chapter">
                    <a class="secondoryT" href="{{pathFor 'leoLogin'}}">
                        Log In
                    </a>
                </li>
                <li class="chapter">
                    <a class="secondoryT" href="{{pathFor 'leoAdminCompanyDetails'}}">
                        Company Settings
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>