<template name="leoAdminProductCategoryDetails">
    <div class="container cont ">
        <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 main">
            <div class="image-uploader" data-base-height="250" data-base-width="250">
                <div class="">
                    <label>Add Product Category</label>
                </div>
            </div>
            <form id="productCategory" class="floating-labe1">
                <div class="image-uploader" data-base-height="250" data-base-width="250">

                    <input id="uploader" type="file" />

                </div>
                <div class="form-group ">
                    <label class="control-label">Category Name</label>
                    <input type="text" name="firstName" class="form-control" mandatory="true"/>
                </div>

                <div class="form-group">
                    <label class="control-label">Tags</label>
                    <input type="text" name="tags" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea type="text" name="Description" class="form-control" mandatory="true"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-default preview-add-button">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Reset
                        </button>
                        <button type="button" class="btn btn-default preview-add-button">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>